.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;

  a {
    color: #fff;
    background-color: #197bff;
  }

  a:visited {
    color: #fff;
  }
}

.discourse-tags a:last-of-type,
.discourse-tags span:last-of-type {
  display: none;
}
